*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

/* Typography */
h1,
h2,
h3 {
  margin: 0;
  text-transform: capitalize;
}
h2 {
  font-weight: 600;
}

/* Navigation bar */
.header {
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
}

.top-nav {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.top-nav__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.top-nav__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.top-nav__menu-item {
  font-size: 1rem;
  padding: 0 5px;
}
.top-nav__menu-item:not(:last-child)::after {
  content: "|";
  padding-left: 5px;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar__menu {
  align-items: center;
  display: flex;
  list-style: none;
  padding: 0;
}
.navbar__menu-item {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.navbar__menu-item:hover {
  border-bottom: 1px solid #000;
}

.logo {
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0;
}

.search-box {
  margin-right: 10px;
  padding: 7px;
}
.search-box input::placeholder {
  font-size: 0.8rem;
  font-weight: lighter;
}

/* Hamburger menu */
.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5px;
}
.hamburger-menu .line {
  background-color: #000;
  height: 3px;
  margin: 2px;
  width: 22px;
}

/* Input */
.input {
  border: 1px solid #000;
  padding: 5px;
  outline: none;
}
.input::placeholder {
  font-size: 0.8rem;
  font-weight: lighter;
}

/* Input group */
.input-group {
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  font-size: 1rem;
}
.input-group input {
  border: none;
  flex: auto;
  outline: none;
}

/* Buttons */
.btn {
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 15px;
}
.btn--primary {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}
.btn--link {
  background-color: transparent;
  color: #000;
  font-size: 0.7rem;
  padding: 5px;
  text-decoration: underline;
  text-transform: capitalize;
}
.btn--group {
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
}
.btn .icon {
  font-size: 1.1rem;
  padding-right: 5px;
}

/* Login form */
fieldset {
  border: 0;
}

legend {
  font-weight: bold;
}

.login-frm {
  background: #fff;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.274);
  display: none;
  padding: 20px 0;
  position: absolute;
  right: -36px;
  top: 33px;
  z-index: 20;
}
.login-frm::before {
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
  height: 0;
  left: 12%;
  position: absolute;
  top: -8px;
  width: 0;
}
.login-frm fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
}
.login-frm .btn:not(.btn--link) {
  margin: 5px 0;
  width: 100%;
}
.login-frm label {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: start;
  text-transform: capitalize;
  width: 100%;
}

/* Hero section */
.section-hero {
  background-image: url(../img/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  position: relative;
}
.section-hero h2 {
  color: #f2e4ae;
  font-size: 2.5rem;
  left: 30px;
  position: absolute;
  top: 30px;
}

/* Arrival section */
.section-arrival {
  padding: 10px 20%;
}
.section-arrival header {
  display: flex;
  align-items: flex-end;
  font-size: 1.2rem;
  padding: 25px 0;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner {
  width: 40%;
  min-width: 400px;
}

/* Product card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  min-width: 145px;
}
.card__img {
  width: 100%;
  padding: 10px;
}
.card__header {
  font-size: 1rem;
  margin: 10px 0;
}
.card__price {
  margin-top: 10px;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price::after {
  content: "Kr";
}
.original-price {
  color: #9e9e9e;
  text-decoration: line-through;
}

.badge {
  border: 1px solid #000;
  padding: 2px 5px;
  margin-left: 10px;
}

/* Best seller section */
.section-best-seller {
  padding: 10px 20%;
}

.section-best-seller header {
  display: flex;
  align-items: flex-end;
  font-size: 1.2rem;
  padding: 25px 0;
}

@media only screen and (max-width: 965px) {
  /* Navigation bar */
  .navbar {
    background-color: #fff;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 15;
  }
  .navbar__menu {
    border-top: 1px solid #000;
    flex-direction: column;
    margin: 0;
  }
  .navbar__menu-item {
    border-bottom: 0.1px solid #dcdcdc;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  .navbar__menu-item:hover {
    background-color: #f1f1f1;
    border: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
  }

  /* Arrival section */
  .section-arrival {
    padding: 10px 50px;
  }

  /* Best seller section */
  .section-best-seller {
    padding: 10px 50px;
  }
}

@media only screen and (max-width: 720px) {
  /* Navigation bar */
  .navbar {
    top: 185px;
  }

  .top-nav {
    flex-direction: column;
    padding: 0;
  }
  .top-nav__menu {
    margin-top: 15px;
  }
  .top-nav__container {
    background-color: #f0f0f0;
    border-top: 1px solid #000;
    display: none;
    flex-direction: column;
    padding: 20px 0;
    position: absolute;
    top: 74px;
    width: 100%;
    z-index: 15;
  }

  .search-box {
    margin: 0;
  }

  .logo {
    padding: 20px;
  }

  .hamburger-menu {
    top: 25px;
  }
}
