*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

/* General styles */
a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

fieldset {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  text-transform: capitalize;
  font-weight: bold;
}

button {
  border: none;
  cursor: pointer;
}

abbr[title] {
  text-decoration: none;
  border-bottom: none;
  cursor: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* Typography */
h1,
h2,
h3 {
  margin: 0;
  text-transform: capitalize;
}
h2 {
  font-weight: 600;
}

/* Navigation bar */
.header {
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.2);
}

.top-nav {
  align-items: center;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.top-nav_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.top-nav_menu {
  display: flex;
  position: relative;
}
.top-nav_menu-item {
  font-size: 1rem;
  padding: 0 5px;
}
.top-nav_menu-item:not(:last-child)::after {
  content: "|";
  padding-left: 5px;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar_menu {
  align-items: center;
  display: flex;
}
.navbar_menu-item {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0 20px;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.navbar_menu-item:hover {
  border-bottom: 1px solid #000;
}

.logo {
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.9rem;
  font-weight: bold;
  margin: 0;
}

.search-box {
  margin-right: 10px;
  padding: 7px;
}
.search-box input::placeholder {
  font-size: 0.8rem;
  font-weight: lighter;
}

/* Hamburger menu */
.hamburger-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5px;
}
.hamburger-menu .line {
  background-color: #000;
  height: 3px;
  margin: 2px;
  width: 22px;
}

/* Input */
input {
  border: 1px solid #000;
  padding: 5px;
  outline: none;
}
input::placeholder {
  font-size: 0.8rem;
  font-weight: lighter;
}

/* Form group */
.form-group {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  flex: 0 50%;
  width: 90%;
}
.form-group label {
  padding: 5px 0;
}
.form-group input {
  margin: 2px 0;
  width: 80%;
}

.label-light {
  color: gray;
}

/* Input group */
.input-group {
  background-color: #fff;
  border: 1px solid black;
  display: flex;
  font-size: 1rem;
}
.input-group input {
  border: none;
  flex: auto;
  outline: none;
}

/* Buttons */
.btn {
  border: none;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 15px;
}
.btn--primary {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}
.btn--link {
  background-color: transparent;
  color: #000;
  font-size: 0.7rem;
  padding: 5px;
  text-decoration: underline;
  text-transform: capitalize;
}
.btn--group {
  background-color: #fff;
  border: 1px solid #000;
  padding: 5px;
}
.btn--icon {
  background-color: transparent;
  padding: 0;
}
.btn .icon {
  font-size: 1.1rem;
  padding-right: 5px;
}
.btn a {
  color: #fff;
}

/* Login form */
.login-frm {
  background: #fff;
  box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.274);
  display: none;
  padding: 20px 10px;
  position: absolute;
  right: -36px;
  top: 33px;
  z-index: 20;
}
.login-frm::before {
  border-bottom: 20px solid #fff;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  content: "";
  height: 0;
  left: 12%;
  position: absolute;
  top: -8px;
  width: 0;
}
.login-frm fieldset {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
}
.login-frm .btn:not(.btn--link) {
  margin: 5px 0;
  width: 100%;
}
.login-frm label {
  align-items: center;
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: start;
  text-transform: capitalize;
  width: 100%;
}

/* Hero section */
.section-hero {
  background-image: url(../img/hero.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  position: relative;
}
.section-hero h2 {
  color: #f2e4ae;
  font-size: 2.5rem;
  left: 30px;
  position: absolute;
  top: 100px;
}

/* Arrival section */
.section {
  padding: 10px 20%;
  font-size: 1rem;
}
.section header {
  display: flex;
  align-items: flex-end;
  font-size: 1.2rem;
  padding: 25px 0;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner {
  width: 40%;
  min-width: 300px;
}

/* Product card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  min-width: 145px;
}
.card_img {
  width: 100%;
  padding: 10px;
}
.card_header {
  font-size: 1rem;
  margin: 10px 0;
}
.card_price {
  margin-top: 10px;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price::after {
  content: "Kr";
}
.original-price {
  color: #9e9e9e;
  text-decoration: line-through;
}

.badge {
  border: 1px solid #000;
  padding: 2px 5px;
  margin-left: 10px;
}

/* Best seller section */

/* Footer */
.footer {
  background-color: #e8e8e8;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 50px 0;
  justify-content: center;
}
.footer_nav {
  margin: 0 20px;
  font-size: 0.8rem;
}
.footer_menu {
  padding-top: 20px;
}
.footer_menu-item {
  text-transform: capitalize;
  padding: 7px 2px;
}
.footer_social-media {
  margin-right: 20px;
}

.social-media {
  display: flex;
  padding-top: 20px;
  font-size: 1.3rem;
  margin-left: 20px;
}
.social-media .icon {
  margin: 0 10px;
}

.icon {
  cursor: pointer;
}

.subscribe-frm {
  font-size: 0.8rem;
  max-width: 350px;
  margin-left: 20px;
}
.subscribe-frm input {
  padding: 5px;
}
.subscribe-frm p {
  margin: 20px 0;
}

.copyright {
  padding: 20px 50px;
  display: flex;
  font-size: 0.7rem;
  align-items: center;
  justify-content: space-between;
}

.payment {
  font-size: 2rem;
}

/* Contact Us */
.contact-us-frm {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20% 0;
}
.contact-us-frm fieldset {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}

/* About us */
.section-about-us {
  margin: 10% 0;
}

/* Cart */
.cart {
  margin: 5% 0;
}
.cart_container {
  display: flex;
  justify-content: space-between;
}
.cart_products {
  width: 100%;
  margin-right: 90px;
}
.cart_item {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}
.cart_item .card_img {
  width: 100px;
}
.cart .price {
  margin-top: 20px;
  margin-bottom: 10px;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card_quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card_quantity .btn {
  font-size: 1.2rem;
  padding: 5px 10px;
}
.card_quantity input {
  width: 30px;
  margin: 0 10px;
  text-align: center;
}

.summery {
  text-transform: capitalize;
  margin-top: 20px;
}
.summery_item,
.summery_total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  font-size: 0.8rem;
}
.summery_total {
  font-weight: bold;
}
.summery_item {
  display: flex;
  border-bottom: 1px solid #e2e2e2;
}
.summery .price,
.summery p {
  margin: 0;
  padding: 0;
}

.promo-code {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.promo-code .btn {
  margin: 10px 0;
  padding: 10px 20px;
}
.promo-code h3 {
  margin: 15px 0;
}

@media only screen and (max-width: 965px) {
  /* Navigation bar */
  .navbar {
    background-color: #fff;
    display: none;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 14;
  }
  .navbar_menu {
    border-top: 1px solid #000;
    flex-direction: column;
    margin: 0;
  }
  .navbar_menu-item {
    border-bottom: 0.1px solid #dcdcdc;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  .navbar_menu-item:hover {
    background-color: #f1f1f1;
    border: none;
  }

  .hamburger-menu {
    display: flex;
    flex-direction: column;
  }

  /* Arrival section */
  .section {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 720px) {
  /* Navigation bar */
  .navbar {
    top: 185px;
  }

  .top-nav {
    flex-direction: column;
    padding: 0;
  }
  .top-nav_menu {
    margin-top: 15px;
  }
  .top-nav_container {
    background-color: #f0f0f0;
    border-top: 1px solid #000;
    display: none;
    flex-direction: column;
    padding: 20px 0;
    position: absolute;
    top: 74px;
    width: 100%;
    z-index: 15;
  }

  .search-box {
    margin: 0;
  }

  .logo {
    padding: 20px;
  }

  .hamburger-menu {
    top: 25px;
  }

  /* Footer */
  .footer {
    flex-direction: column;
  }
  .footer_nav {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
  }

  .subscribe-frm {
    margin-top: 20px;
  }

  /* Contact us */
  .contact-us-frm fieldset {
    flex-direction: column;
  }
  .form-group input {
    width: 100%;
  }

  /* Cart */
  .cart_container {
    flex-direction: column-reverse;
  }
  .cart_summery {
    border-bottom: 1px solid black;
    margin-bottom: 10px;
  }
}
